@model List<ASI.Basecode.Services.ServiceModels.WalletViewModel>

@{
    ViewData["Title"] = "Wallet Page";
}

@section styles {
    <link rel="stylesheet" href="~/css/wallet.css">
}

@section scripts {
    <script src="~/js/wallet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
}

    <!-- Content Wrapper -->
    <div class="flex-1 p-6 bg-gray-50 dark:bg-gray-900">
        <!-- Search Bar -->
        <div class="flex justify-between items-center mt-2">
            <input type="text" placeholder="Search here..." class="w-1/3 p-2 border border-gray-300 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white">
        </div>

        <!-- Page Title -->
        <div class="flex justify-between items-center my-4">
            <h2 id="accountPageTitle" class="font-bold text-2xl dark:text-gray-100">Wallets</h2>
        </div>

        <!-- Total Balance Section -->
        <div id="balanceSection" class="mb-6">
            <h2 id="totalBalance" class="text-2xl font-bold dark:text-gray-100">
                Total Balance:
                <span class="balanceSpacing balance-value" data-visible="true">₱@ViewBag.TotalDebit.ToString("0.00")</span>
                <i id="toggleBalanceVisibility" class="fas fa-eye cursor-pointer balance-icon dark:text-gray-400"></i>
            </h2>
        </div>

        @Html.Partial("Details")
    </div>

    @Html.Partial("Create")
    @Html.Partial("Edit")
</div>



