@model List<ASI.Basecode.Services.ServiceModels.WalletViewModel>

@{
    ViewData["Title"] = "Wallet Page";
}

@section styles {
    <link rel="stylesheet" href="~/css/wallet.css">
}

@section scripts {
    <script src="~/js/wallet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
}
<div class="flex min-h-screen mt-5 ml-10">
    <!-- Content Wrapper -->
    <div class="flex-1 container p-6 bg-gray-50 dark:bg-gray-800">

        <!-- Page Title -->
        <div class="flex justify-between items-center mt-4">
            <h2 id="accountPageTitle" class="font-semibold text-2xl dark:text-white">Wallets</h2>
        </div>

        <!-- Total Balance Section -->
        <div id="balanceSection" class="mb-6 mt-4 py-5 flex flex-col items-center border-2 border-gray-900 dark:border-gray-600">
            <h2 class="text-xl font-regular dark:text-gray-100 flex items-center">
                Total Balance
            </h2>
            <div class="flex items-center mt-2">
                <span id="totalBalance" class="balanceSpacing balance-value text-5xl font-bold" data-visible="true">₱ @ViewBag.TotalDebit.ToString("0.00")</span>
                <i id="toggleBalanceVisibility" class="fas fa-eye cursor-pointer balance-icon ml-2 dark:text-gray-400"></i>
            </div>
        </div>




        @Html.Partial("Details")
    </div>

    @Html.Partial("Create")
    @Html.Partial("Edit")
</div>



