@{
    ViewBag.LoginView = true;
    ViewData["Title"] = "Invalid Password Reset Link";
}

<div class="flex h-screen bg-gray-50 dark:bg-gray-900 relative">
    <div class="hidden lg:flex lg:w-1/2">
        <img src="~/img/spendwise-banner.svg" alt="Banner" class="w-full h-full object-cover" />
    </div>
    <div class="flex items-center justify-center w-full lg:w-1/2 p-6">
        <div class="relative rounded-lg shadow dark:bg-gray-800 w-full max-w-md lg:max-w-lg mx-auto min-h-[400px] sm:min-h-[450px] md:min-h-[500px] lg:min-h-[600px] flex flex-col p-8 space-y-4">
            <!-- Logo -->
            <div class="flex justify-between items-center mb-4">
                <img src="~/img/logo.svg" class="w-48 mx-auto" alt="logo">
            </div>

            <!-- Heading -->
            <h2 class="text-center text-2xl font-bold text-gray-900 dark:text-white mb-4">Reset Password Error</h2>

            <!-- Error message -->
            <div class="text-center text-red-500 dark:text-red-400 text-sm font-semibold">
                <span>The reset link you used is invalid or has already been used. Please request a new password reset link.</span>
            </div>

            <!-- Button to redirect to forgot password -->
            <div class="text-center mt-6">
                <a href="@Url.Action("ForgotPassword", "Account")" class="text-primary-600 hover:underline dark:text-primary-400">
                    Request a New Password Reset Link
                </a>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="~/js/accountDarkmode.js"></script>
}