USE [master]
GO
/****** Object:  Database [AsiBasecodeDb]    Script Date: 2024/06/25 4:11:55 ******/
CREATE DATABASE [AsiBasecodeDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AsiBasecodeDb', FILENAME = N'C:\Users\James\Desktop\School\ALLIANCE\AsiBasecodeDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AsiBasecodeDb_log', FILENAME = N'C:\Users\James\Desktop\School\ALLIANCE\MSSQL16.MSSQLSERVER\MSSQL\DATA\AsiBasecodeDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AsiBasecodeDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AsiBasecodeDb]
GO
USE [AsiBasecodeDb]
GO
/****** Object:  Table [dbo].[M_User]    Script Date: 2024/06/25 4:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_User](
	[UserId] [int] NOT NULL,
	[InsBy] [varchar](256) NULL,
	[InsDt] [datetime] NOT NULL,
	[UpdBy] [varchar](256) NULL,
	[UpdDt] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[UserCode] [varchar](50) NOT NULL,
	[Password] [varchar](50) NULL,
	[TemporaryPassword] [varchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastNameKana] [nvarchar](50) NULL,
	[FirstNameKana] [nvarchar](50) NULL,
	[Mail] [varchar](256) NULL,
	[UserRole] [int] NULL,
	[Remarks] [nvarchar](500) NULL,
 CONSTRAINT [PK_M_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[M_User] ([UserId], [InsBy], [InsDt], [UpdBy], [UpdDt], [Deleted], [UserCode], [Password], [TemporaryPassword], [LastName], [FirstName], [LastNameKana], [FirstNameKana], [Mail], [UserRole], [Remarks]) VALUES (0, NULL, CAST(N'2022-09-22T10:39:42.213' AS DateTime), NULL, CAST(N'2022-09-22T10:39:42.213' AS DateTime), 0, N'sa', N'WDCHwzavyvUzFb/JBYNiCg==', NULL, N'admin', N'super', NULL, NULL, NULL, 9, N'Super Admin')
ALTER TABLE [dbo].[M_User] ADD  CONSTRAINT [DF_M_User_InsDt]  DEFAULT (getdate()) FOR [InsDt]
GO
ALTER TABLE [dbo].[M_User] ADD  CONSTRAINT [DF_M_User_UpdDt]  DEFAULT (getdate()) FOR [UpdDt]
GO
ALTER TABLE [dbo].[M_User] ADD  CONSTRAINT [DF_M_User_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
USE [master]
GO
