/* index.css */

/* Modal Content Styles */
.modal-content {
    z-index: 10;
}

/* Dark Mode Overrides for Modal Content */
.dark .darken-modal-content {
    background-color: #f7fafc; /* Tailwind's gray-100 */
    color: #2d3748; /* Tailwind's gray-800 */
}


.category-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    /* Hover effect: scale up and add shadow */
    .category-card:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }

/* Dark Mode Overrides */
.dark .category-card {
    filter: brightness(0.9);
}

/* Add Category Button Styles */
#newCategoryCard {
    transition: border-color 0.3s ease;
}


/* Edit Icon Styles */
.category-card a {
    /* Transition for opacity */
    transition: opacity 0.3s ease;
    opacity: 0.8;
}

    .category-card a:hover {
        opacity: 1;
    }

/* Modal Content Styles */
.modal-content {
    z-index: 10;
    background-color: white; /* Default background color */
    color: black; /* Default text color */
    padding: 20px; /* Add some padding */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Add shadow */
}

/* Dark Mode Overrides for Modal Content */
.dark .darken-modal-content {
    background-color: #2d3748; /* Tailwind's gray-800 */
    color: #f7fafc; /* Tailwind's gray-100 */
}

    /* Dark Mode Overrides for Input Fields */
    .dark .darken-modal-content input,
    .dark .darken-modal-content select,
    .dark .darken-modal-content textarea {
        background-color: #4a5568; /* Tailwind's gray-700 */
        color: #f7fafc; /* Tailwind's gray-100 */
        border: 1px solid #718096; /* Tailwind's gray-600 */
    }



/* Responsive Grid Adjustments */
@media (max-width: 768px) {
    .grid-cols-3 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}
