#theme-toggle {
    transition: color 0.3s;
}

#form-overlay {
    transition: opacity 0.3s ease-in-out;
}

#loading-spinner,
#success-icon,
#failure-icon {
    transition: visibility 0.3s, opacity 0.3s ease-in-out;
}

#error-message {
    margin-top: -1rem; /* Center the error message */
}


