.accountCard {
    padding: 1rem;
    border-radius: 0.5rem;
    color: #fff;
}

#addAccountButton {
    border-radius: 0.5rem;
}
/* Button styles */
    #addAccountButton {
    padding: 0.5rem 1rem;
    background-color: transparent; /* or none */
    color: #fff;
    border-radius: 0.5rem;
}


}


.modal {
    z-index: 1050;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 20px;
}


    .modal.flex {
        display: flex;
    }

.modal-content {
    max-width: 700px;
    max-height: 700px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: white;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .modal-content {
        max-width: 90%;
        padding: 20px;
    }
}

/* Balance Section */
#balanceSection {
    margin-top: 50px;
    background-color: #3b82f6;
    color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.spacing {
    margin-bottom: 4rem; 
}

.balanceSpacing {
    margin-right: 10px; /* Adjust this value for more or less space */
}

.balance-icon {
    margin-left: 5px; /* Adjust space between the balance value and the icon */
}

.balance-value {
    margin-right: 5px; /* Space between the balance label and value */
}

.toggle-balance {
    margin-left: 5px; /* Space between the balance value and eye icon */
    cursor: pointer; /* Ensures the cursor indicates clickable item */
}

