@model IEnumerable<ASI.Basecode.WebApp.Models.CategoryViewModel>

@{
    ViewData["Title"] = "Category Page";
}

@section Styles {
    <link href="~/css/Category.css" rel="stylesheet" />
}

<body class="bg-gray-50 text-gray-900 transition-colors duration-300">
    <!-- Dark Mode Toggle Button -->
    
    <div class="ml-10">
        @Html.Partial("_CategoryList")
    </div>
    @Html.Partial("Create")
    @Html.Partial("_EditCategory")
    <!-- Include SweetAlert2 JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- JavaScript Code -->
    <script src="~/js/categoryDarkMode.js"></script>
    <script src="~/js/categoryModal.js"></script>
    <script src="~/js/categoryServer.js"></script>


</body>